doctype html
html(lang="en")
  head
    title="DDJbyDESIGN: Dafydd Dale-Jones - Holographic Art, Interior Design & Property Development. Ibiza/Barcelona/Buenos Aires/London"
    meta(name="Description" content="Website of Dafydd Dale-Jones: Artist, Businessman, Designer based out of Barcelona & Ibiza. Ad aRt, Holo aRt, Mirror aRt, Street aRt. Specialist in holographic design. Property developer looking for new projects.")
    meta(name="Keywords" content="holo, holographic, glitter, ibiza, art, property, dafydd, dale-jones, ddj, design, chairs, mirrors, adverts, collaborating, Barcelona, London, Buenos Aires, Street-Art, SkateBoard, furniture, painting, interior, design")
    meta(charset='utf-8')
        
    <!-- inject:css -->
    <!-- endinject -->
    

    meta(name="viewport" content="width=device-width, initial-scale=1")
  
    link(rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css")
    link(rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:300,400,500,700") 
  body(ng-app="ddjSite")
    div(device-detector)
    div.headerui.container-fluid(ui-view="header")  
      
      
    <!-- inject:js -->
    <!-- endinject -->
  

  
