
div.site_title2.container
  image.site_title__img.img-responsive(src="/assets/images/site/arttitle.jpg")

div.container
  div.art_nav
    div.art_nav_item.text-center(ng-repeat="series in seriesArray", ui-sref="{{series.state}}" ) {{series.title }}
div.subtitle_text.col-xs-12 {{ currLib.title}}    
div.art_subhead.card.header()  
  p.subhead_text.text-center  {{ currLib.description }}   
div.tilebox.container-fluid.row(ng-hide="rockCheck")
  div.col-xs-12
    div.test.col-lg-3.col-md-3.col-xs-12(ng-repeat="image in currLib.photos | orderBy: 'id'", ng-click="openAModal(image)")
      div.photo_tile(ng-style="{'background-image':'url({{image.url}})'}")
div.tilebox.container(ng-show="rockCheck")
  div.col--xs-12.col-md-6.rock_box
    h3.arthouse_header LLeiniog
    div.photo_tile.col-lg-5.col-md-4.col-xs-12(ng-repeat="image in currLib.lleiniog | orderBy: '-id'", ng-click="openAModal(image)",ng-style="{'background-image':'url({{image.url}})'}")
  div.col--xs-12.col-md-6.rock_box
    h3.arthouse_header Penmon Point
    div.photo_tile.col-lg-5.col-md-4.col-xs-12(ng-repeat="image in currLib.penmon | orderBy: '-id'", ng-click="openAModal(image)",ng-style="{'background-image':'url({{image.url}})'}")
