div.site_title2.col-xs-12.col-lg-10.col-lg-offset-1(ng-style="mobilebuffer")
  image.site_title__img.img-responsive(src="/assets/images/site/contacttitle.jpg")
div.container
  h1.contact_title.text-center.col-xs-12 CONTACT 
  p.subhead_text.text-center I'm always happy to discuss potential custom pieces, business ventures and design collaboration.
div.contact_card.container
  div.contact_text__item
    h3.text-center Dafydd Dale-Jones
  div.contact_text__item  
    h5.text-center Barcelona, Spain
    h5.text-center Ibiza, Spain
  div.contact_text__item
    span.glyphicon-glyphicon-email
    a(ng-style="{'color': '#FFF'}" h-href="mailto:ddalejones@yahoo.co.uk") ddalejones@yahoo.co.uk
  a.contact_text__item(h-ref="https://es.linkedin.com/in/dafydd-dale-jones-04551412")
    h5.text-center LinkedIn
  div.contact_text__item
    span.glyphicon-glyphicon-phone
    span.fs-body-2.display-block +34-616-566-123
