div.container
div#bcardb
  div#ddbcard
    h1.dbct.text-center Dafydd Dale-Jones
    div.dddetail
      h4.text-center.raleway.
       +34 616 566 123 </br>
       </br>
       www.ddjbydesign.com </br>
       </br>
        ddalejones@yahoo.co.uk
