
div.site_title2.container(ng-style="mobilebuffer")
  image.img-responsive(src="/assets/images/site/designtitle.jpg")
div.intro_body.container
  div.intro_text.col-lg-8.col-lg-offset-2.col-xs-12 
    p.text-center.
      Since leaving the Island of Anglesey, North Wales, in 1984, at the age of 18, I feel privileged to have travelled extensively and to have met such a cross section of interesting people.
      </br> 
      I have been involved in and run several differed businesses, mainly property-based.   The property business has changed dramatically in the UK since I did my first “deal”.  With so much information available on line, property investment clubs, buy to let mortgages and other lending sources, for me a lot of the ‘fun’ of the business has gone. </br>
      Modern technology has changed life beyond recognition – when I first went to London in search of work, mobile phones were just being brought onto the market and the Internet not even heard of. </br>
      </br> 
      I have experienced life in many different “forms” and lived in many different places. My story is often listened to with disbelief! There have been many ups and downs but this varied life suits me. I am always enthusiastic about projects and believe strongly in helping others.  I am a great advocate of exercise and my skateboarding provides me with this and instant adrenalin! </br>
      </br>
      Along the way I have been helped by very many people, too numerous to mention here, but I will always be grateful to them. </br>
      </br>
      If my life story interests you, and you are looking for a collaborator on any project, I would be very interested to hear from you. </br>
  div.container
    div.parade.row(ng-hide="mobilecheck")
      div.parade_item(ng-repeat="p in parade| orderBy: '$index'", ng-style="{'background-image': 'url({{p.url}})'}")
    div.mparade.container-fluid(ng-show="mobilecheck")
      div.mparade_item.col-xs-12
        image.img-responsive.parade_img(src="{{mparade.url}}")
        
    
  
    
    
    script(async defer src="//platform.instagram.com/en_US/embeds.js")
