div.site_title2.container
  image.site_title_img.img-responsive(src="/assets/images/site/landing.jpg")
div.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4#landingbody
  div.landing_image__card
    div.landing_text.col-xs-12
      h4.col-xs-12.text-center Dafydd Dale-Jones
    image.landing_image.img-responsive(src="/assets/images/ddj1.jpg")
