div.site_title2.col-xs-12.col-lg-8.col-lg-offset-2(ng-style="mobilebuffer")
  image.site_title_img.img-responsive(src="/assets/images/site/landing.jpg")
div.landing_image__card.col-xs-8.col-xs-offset-2.col-md-4.col-md-offset-4
  div.landing_text.col-xs-12
    h4.col-xs-12.text-center Dafydd Dale-Jones
  image.landing_image.img-responsive(src="/assets/images/ddj1.jpg")
