
div.modal-header.modal_style(ng-click="close()")
    image.img-responsive(src="assets/images/site/phototitle.jpg")
div.modal-body.modal_style
  div  
    div.viewbtn.l(ng-click="nextView()") 
      div.modal_btn#right
        span.glyphicon.glyphicon-chevron-right
    div.viewbtn.r(ng-click="lastView()")  
      div.modal_btn#left
        span.glyphicon.glyphicon-chevron-left 
    image.img-responsive(src="{{modalImage.url}}")
div.modal-footer.modal_style
  div.text-center(ng-click="showShareOptions()") Share
  div.container(ng-show="shareShow")  
    a.social_btn(socialshare socialshare-provider="facebook",socialshare-text="Photography by Dafydd Dale Jones",socialshare-url="http://ddjbydesign.com/#/photo/", socialshare-media="{{modalImage.shareurl}}") Facebook
    a.social_btn(socialshare socialshare-provider="twitter", socialshare-text="Photography by Dafydd Dale Jones",socialshare-url="http://ddjbydesign.com/#/photo/", socialshare-media="{{modalImage.shareurl}}") Twitter
    a.social_btn(socialshare socialshare-provider="tumblr",socialshare-text="Photography by Dafydd Dale Jones",socialshare-url="http://ddjbydesign.com/#/photo/", socialshare-media="{{modalImage.shareurl}}") Tumblr
                
