div.site_title2.container(ng-style="mobilebuffer")
  image.site_title__img.img-responsive(src="/assets/images/site/proptitle.jpg")
  div.card.subtitle_des 
    p.text-center.
      Between 1999 and 2001 I teamed up with Craig Griffin (Caring Homes Ltd) and started with a £2,500 deposit and a £1 option to trade over £20m worth of property.
       I travelled constantly during this period to Marrakech, New York, Miami and the Carribean. I was interested to see where, and how people lived, and WHY. Buildings were built. I moved to Anglesey in Wales in 2002 and soon found opportunities there and in Manchester. With the help of Barry Owen OBE (Mason Owen) and Malcolm McClean (ex bank manager at Harrods Bank) as my funders, I went on to buy a pub, barns, a chapel, two garage sites, a country house, a car park and factories. Each were traded or developed with my prize deal assembling a £30,000,000 mixed use scheme in Manchester. I have spent the last few years living on Ibiza, London, Wales and the last two in Argentina. I am currently based in Barcelona and pursuing new projects here. </br>
      </br> Should you wish to contact me to discuss any requirements or want to get involved in any of my projects, I look forward to hearing from you."
div.site_body.container
  div.col-xs-12
    h3.text-center Completed Projects 
  div.piece_viewer.col-xs-12.col-md-5.row
    div
      div(ng-hide="mobilecheck")
        div.viewbtn.l(ng-click="nextView()") 
          div.next_btn#right
            span.glyphicon.glyphicon-chevron-right
        div.viewbtn.r(ng-click="lastView()")  
          div.next_btn#left
            span.glyphicon.glyphicon-chevron-left
  
      image.img-responsive.piece_img(src="{{centerView.url}}", ng-click="openPModal(centerView)")
    div.view_nav.btn-group(role="toolbar")
      div(ng-click="openPModal(centerView)")  
        h5.text-center Larger Image
      h3.col-xs-12.col-md-4.text-left Projects:
      div.col-xs-12.col-md-8
        button.prop_tile.btn.btn-flat(ng-repeat="prop in propArray", ng-click="propChange(prop.id)") {{prop.id}}
        
  div.col-md-6.col-xs-12.prop_text.container 
      div.col-xs-12
        h4.prop_title.text-center {{centerProp.title}}
      div.col-xs-12  
        p.prop_desc.text-center {{centerProp.description}}
  
