.title_text{
  font-family: 'Raleway';
  height: 10rem;
  text-align: center;
  font-size: 8rem;
  padding: 5%;
  max-width: 80%;
}

.accent {
  font-style: italic;
}
.subtitle_text {
  padding: 1rem 2%;
  text-align: center;
  font-family: 'Raleway';
  font-size: 2rem;
}
.subhead_text {
  padding: 2% 5%;
  text-align: center;
}
.piece_tile {
  overflow: hidden;
  width: 30%;
  height: 150px;
  float: left;
  padding: 2px;
}
.tile_img {
  overflow: hidden;
}
.piece_viewer {
  max-height: 600px;
  padding: 2% 5%;
}
.stack_nav {
  padding: 1% ;
  margin: 1% auto;
  font-family: 'Raleway';
}
.stack_nav_item {
  padding: 1% ;
  margin: 2%;
}
.art_nav {
  padding: 1% ;
  margin: 1% auto;
  font-family: 'Raleway';
}
.art_nav_item {
  padding: 1% ;
  margin: 2%;
  width: 15%;
  float: left;
}
.piece_view {
  min-height: 80%;
  background-size: cover;
}
.piece_img {
  max-height: 600px;
  margin: 0 auto;
}
.searchbox {
  padding: 1rem 5%;
}
.fields {
  margin: 1px;
}
.arthouse_box_title {
  top: 30%;
}
.art_back{
  padding: 2% 2%;
}
.arthouse_header {
  text-align: center;
  font-family: 'Raleway';
}
.arthouse_box {
  height: 250px;

  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 1%;
  // float: left;
  -webkit-transition: all 2s ease;
  /* Safari */
  transition: all 2s ease;
}
.arthouse_box_fade {
  // -webkit-transition: all 2s ease;
  // /* Safari */
  // transition: all 2s ease;
  color: black;
  height: inherit;
  width: auto;
  text-align: center;
  padding: 20% 5%;
  font-family: 'Raleway';
  background-color: transparentize(white, 0.2);
}
.arthouse_array {
  margin-bottom: 10%
}
.rock_box {
  padding: 5%;
}
