.post {
  border: 2px solid white;
  border-radius: 5%;
  margin: 3%;
}
.title_box{
  color: #fff;
}
.body_box {
  height: 200px;
  overflow: hidden;
  color: #fff;
}
.post_image{
  margin: 2% auto;
}
.post_box{

}
