.contact_text__item{
  margin: 1% auto;
  text-align: center;
  color: #fff;
}
.contact{
  padding-top: 0;
}
.contact_card {
  padding-bottom: 5%;
  font-family: 'Raleway';

}
.contact_title {
  margin-top: 0;
}
